@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-700: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.markdown * {
  all: revert;
}

.markdown h1 {
  padding-bottom: 8px;
  border-bottom: var(--slate-700) 1px solid;
}

.markdown a {
  color: #3182ce;
  text-decoration: none;
}

.markdown code {
  white-space : pre-wrap;
}

.markdown pre:has(code) {
  padding: 10px;
  border: var(--slate-700) 1px solid;
  border-radius: 10px;
}